h1{
    text-align:center;
    
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-style: solid;
}