
html,body{

	height:100%;
}

a{
 text-decoration: none;
}

aside {
	float:right;
	width:20%;
}

.wrapper{
	width:80%;
	margin:auto;
}

body{
 background-color: antiquewhite;
}

.signup{
	border-color:solid black;
}

.main-image{
	background-image: url("../img/main.png");
	background-repeat: no-repeat;
	background-size: 13rem;
	background-position: center;
	height: 200px;
	padding:20px;
	margin:auto;
}

.tiles{
	height: 400px;
	width:80%;	
}

.tile{
	cursor: move;
	padding:2px;
	background-color:grey;
	background-image: url("../img/main.png");
	background-repeat: no-repeat;
	background-size: 13rem;
	margin:auto;
  	/* border:#FFC97A solid 4px; */
  	width:10rem;
  	height:10rem;
	text-align: center;
	display:inline-block;
	margin:2px;
	/* position: absolute; */
}
tile:hover{
	padding:0px;
}

span{
	color:#E9F97A;
  	font-size:30px;
	font-weight:800;
	padding: 20px;
}

.hidden{
	display: none;
}

#align-center{
text-align: center;}